.jam-board{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
}

.jam-board-board{
    width: 95%;
    height: 600px;
    overflow-y: scroll;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.jam-board-form{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 30%;
}