.input-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-input-area{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-area{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button{
    background-color: blue;
    padding: 10px;
}
