.chat-jumbo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
}

.chat-messages-wrapper{
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 

}

.send-chat-area{
  height: 20%;
  width: 100%;
}

.chat-form{
  display: flex;
  justify-content: flex-start;
  align-items: center; 
}

.chat-input{
  width: 80%
}
.chat-send-button-area{
  width: 20%
}
