.app{
  margin-top: 0px;
}


.appBody{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.jams-side-list{
  width: 30%;
  background-color: yellow;
}

.jam-screen{
  width: 70%;
  background-color: blue;
}

