
.jamsList-jam-container{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    background-color: rgba(170, 170, 170, 0.06);
}

.jams-list-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.jams-list-content-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.jams-list-content-line h4{
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin: 0 20px;;
}

.jams-list-content-line p{
    font-size: 16px;
    font-weight: 400;
    color:black;
    margin: 0 20px;;
}