.home{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.jams-list{
    margin-top: 60px;
    width: 30%;
}

.jam-screen{
    margin-top: 60px;
    width: 70%;
}

h1{
    color: black;
}
