.jamsOverview-wrapper{
    position: absolute;
    top: -60px;
    width: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
