.jammers {
  box-sizing: border-box;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.room-cover {
  height: 80px;
  width: 95%;
  margin: 10px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgba(0, 218, 185, 0.8);
  background-color: white;
  border-radius: 3%; }
  .room-cover a {
    text-decoration: none; }
  .room-cover:hover {
    border: 3px solid rgba(0, 218, 185, 0.8);
    background-color: rgba(255, 255, 255, 0.7); }
    .room-cover:hover a {
      text-decoration: none; }
  .room-cover .user-pic {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .room-cover .user-pic img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .room-cover .user-info {
    width: 85%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .room-cover .user-info .user-info-up {
      height: 50px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid #f2f2f2; }
      .room-cover .user-info .user-info-up .roomNr {
        width: 65px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none; }
        .room-cover .user-info .user-info-up .roomNr p {
          font-family: Helvetica, sans-serif;
          font-size: 0.8rem;
          color: black;
          padding: 0;
          text-decoration: none; }
      .room-cover .user-info .user-info-up .user-info-detail {
        width: auto;
        padding: 5px 15px;
        margin-left: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .room-cover .user-info .user-info-up .user-info-detail h4 {
          padding: 0;
          font-family: Helvetica, sans-serif;
          font-size: 1rem;
          font-weight: bold;
          margin-left: 15px;
          color: black; }
    .room-cover .user-info .user-info-down {
      height: 30px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .room-cover .user-info .user-info-down .user-info-studies {
        width: auto;
        margin-left: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        .room-cover .user-info .user-info-down .user-info-studies a {
          text-decoration: none; }
        .room-cover .user-info .user-info-down .user-info-studies p {
          padding: 0;
          font-family: Helvetica, sans-serif;
          font-size: 1rem;
          margin: 0 0 0 15px;
          color: black; }
          .room-cover .user-info .user-info-down .user-info-studies p a {
            text-decoration: none; }
      .room-cover .user-info .user-info-down .user-info-school {
        width: auto;
        margin-left: 5%;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .room-cover .user-info .user-info-down .user-info-school p {
          padding: 0;
          font-family: Helvetica, sans-serif;
          font-size: 1rem;
          margin-left: 15px;
          color: black;
          margin: 0 0 0 15px; }
